include layout.jade
header
      h3.header-h3
        i.fa.fa-arrow-left(onclick="routeTo('/question')")
        |   Answer
        i.fa.fa-send(onclick='sendQuestion()', style='float:right; margin-top: 5px')
    .w3-container.content
      hr
      .w3-row
        .w3-col.s3.m2.l1.w3-container(style='margin-top:-18px;margin-bottom:-20px')
          i.fa.fa-question-circle(style='font-size:70px;color:#E14B3B')
        .w3-col.s9.m10.l11.w3-container(style='margin-top:-22px; margin-bottom:-20px')
          p.w3-text-red(style='word-wrap:break-word')
            | Was isasdasdasdasd isasdasdasdasd isasdasdasdasd asdasd asdasd asdasdasdasdasdasd  und gruen?
      hr
      p
        textarea#question-text(placeholder='ask anything!', onkeyup='textAreaAdjust(this)')
include footer.jade