include layout.jade
body
    header
      h3.header-h3
        i.fa.fa-arrow-left(onclick="routeTo('/')")
        |   Ask
        i.fa.fa-send(onclick="sendQuestion()", style='float:right; margin-top: 5px')
    .w3-container.content
      p
        div#question-text.textarea-div(contenteditable='true')
include footer.jade