footer
      a#mt1-action.w3-btn-floating-large.w3-theme-action.w3-right(href='/question/#{userid}', style='position:absolute;top:-28px;right:16px;text-decoration:none;') !
      a#mt1-action.w3-btn-floating-large.w3-theme-action.w3-right(href='/ask/#{userid}', style='position:absolute;top:-28px;right:85px;text-decoration:none;') ?
      p.footer-p ask anything!